/* FONTS */

@font-face {
  font-family: "incons";
  src: url(Inconsolata-Regular.ttf);
}

body {
  font-family: "incons", monospace;
  text-align: center;
  color: white;
  background-color: black;
}

.controls {
  width: 100%;
  max-width: 600px;
  height: 80px;
  margin: 40px auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: lightgrey;
  border-radius: 20px;
}

button {
  margin: 10px auto;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: none;
  font-family: "Ink Free", monospace;
}

.abutton,
.mbutton {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.abutton:hover,
.mbutton:hover {
  transform: scale(1.2);
}

.tbutton {
  margin-top: 20px;
}

.tbutton img {
  opacity: 0.3;
  width: 20px;
  display: block;
}

.abutton {
  margin-bottom: 20px;
  font-size: 24px;
}

.active {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 2px, rgba(240, 46, 170, 0.3) 0px 4px,
    rgba(240, 46, 170, 0.2) 0px 6px, rgba(240, 46, 170, 0.1) 0px 8px,
    rgba(240, 46, 170, 0.05) 0px 10px;
}

.abutton .active {
  border: black 1px solid;
}

#forrestjump {
  background-color: aquamarine;
}

#ozzymosis {
  background-color: lightslategrey;
  color: white;
}

#bluebeamer {
  background-color: dodgerBlue;
}

#shortstop {
  background-color: tan;
}

#sidestep {
  background-color: hotpink;
}

#skewt {
  background-color: ghostwhite;
}

#mcedge {
  background-color: yellow;
}

#carbon {
  background-color: darkslategrey;
  color: white;
}

.popup {
  display: none;
  position: fixed;
  width: 75%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #000000; */
  padding: 15px;
  background:rgba(0,0,0,0.7);
}

.link {
  text-decoration: underline; 
}

.link:hover {
  color:yellow;
  cursor: pointer;
}

#ability-instructions {
  list-style-type: none;
  text-align: left;
}